* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  cursor: pointer;
}
.login-container {
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form {
  font-size: 0.7rem;
}
.submit-input {
  width: 100%;
  margin-bottom: 1vh;
  padding: 1vh;
  background-color: rgba(197, 197, 197, 0.46);
  border: none;
}
.submit-button {
  width: 100%;
  padding: 0.5vh;
  background-color: #b5191a;
  color: white;
  border: none;
}

.gender-box {
  width: 100%;
  margin-bottom: 1vh;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#user-gender {
  margin: 0 2vh;
}
